#svgDiv{
    border: 3px solid black;
    display: inline-block;
    background-color: black;
}
#instructionLabel {
    position: absolute;
    width: 50%;
    height: auto;
    top: 580px;
    left: 35%;
}
.btn {
    box-shadow: 0 0 6px #000000;
    border-radius: 10px;
    border-style: hidden;
}