#svgDiv{
    border: 3px solid black;
    display: inline-block;
    background-color: black;
}
#instructionLabel {
    position: absolute;
    width: 50%;
    height: auto;
    top: 580px;
    left: 35%;
}